.todo-input-bar{
  display:flex;
  gap:14px;
  background:white;
  padding:16px;
  border-radius:30px;
  box-shadow:0 10px 40px rgba(0,0,0,.06);
}

.todo-input-bar input{
  flex:1;
  border:none;
  font-size:18px;
  outline:none;
}

.todo-input-bar button{
  background:linear-gradient(135deg,#818cf8,#a5b4fc);
  border:none;
  border-radius:999px;
  color:white;
  padding:14px 30px;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.todo-input-bar button:hover{
  transform:scale(1.08);
  box-shadow:0 8px 28px rgba(99,102,241,.6);
}
